:root{
  --fuente-primaria: "Bebas Neue", sans-serif;
  --fuente-secundaria: "Scope One", sans-serif;
}

.contenido-oculto{
  opacity: 100%;
  animation: opacar 0.5s forwards;

}

.contenedor-send {
  margin: 50vh 45vw;
  width: 100px;
  position: fixed;
  z-index: 1;
  animation: mostrar-sobre 0.5s forwards;
}

.loader {
  display: none;
  width: 80%;
  margin: 0 auto;
  border-style: solid;
  box-sizing: border-box;
  border-width: 40px 60px 30px;
  border-color: #3760c9 #96ddfc #96ddfc #36bbf7;

}

.mostrar-loader{
  display: block;
  animation: mostrar-sobre 1.5s forwards;
}

.loader::after {
  content: "";
  position: absolute;
  right: 100px;
  top: 0;
  height: 70px;
  width: 50px;
  background-image: linear-gradient(#fff 45px, transparent 0),
    linear-gradient(#fff 45px, transparent 0),
    linear-gradient(#fff 45px, transparent 0);
  background-repeat: no-repeat;
  background-size: 30px 4px;
  background-position: 0 11px , 8px 35px, 0 60px;
  animation: env-dropping 0.75s linear infinite;
}

@keyframes env-floating {
  0% {
    transform: translate(-2px, -5px)
  }

  100% {
    transform: translate(0, 5px)
  }
}

@keyframes env-dropping {
  0% {
    background-position: 100px 11px , 115px 35px, 105px 60px;
    opacity: 100%;
  }

  50% {
    background-position: 0 11px , 20px 35px, 5px 60px;
  }

  60% {
    background-position: -30px 11px , 0 35px, -10px 60px;
  }

  75%, 100% {
    background-position: -30px 11px , -30px 35px, -30px 60px;
    opacity: 0%;
  }
}

@keyframes opacar {
  0%{
    opacity:50%;
  }

  100%{
    opacity:0%;
  }
}

@keyframes mostrar-sobre{
  0%{
    display: none;
  }

  100%{
    display: block;

  }
}

h1 {
  font-family: var(--fuente-primaria);
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  padding-top: 15vh;
  margin: 0;
  color: aliceblue;
}

.img-header {
  width: 100%;
  height: 508px;
  background-image: url("../assets/img/imagen.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  background-position: bottom;
}

.wave {
  position: absolute;
  bottom: -80px;
  left: 0;
  right: 0;
}

.tabla {
  margin: 10px auto 60px;
  border: 1px solid #000;
  text-align: center;
  width: 700px;

  & td,  th {
    border: 1px solid #aaa;
    padding: 3px 2px;
    font-size: 20px;
  }

  & thead {
    background: #3777d3;
    border-bottom: 2px solid #444;

    & th {
      font-family: var(--fuente-secundaria);
      font-size: 25px;
      font-weight: bold;
      color: aliceblue;
      text-align: center;
      border-left: 2px solid #d0e4f5;

      &:first-child {
        border-left: none;
      }
    }
  }

  & td{
    font-family: "Scope One", sans-serif;
  }

  & tr:nth-child(even) {
    background: #d0e4f5;
  }

  &tbody {
    td {
      font-size: 13px;
    }
  }
}

.btn {
  cursor: pointer;
  display: block;
  color: #fff;
  width: 400px;
  margin: -25px auto 40px;
  font-weight: bold;
  font-size: 26px;
  height: auto;
  padding: 15px;
  border-radius: 50px;
  box-shadow: 0 0 7px 0 #0091ff;
  background-color: #3777d3;
  transition: all 0.3s;

  &:hover {
    background: #fff;
    color: #0091ff;
  }

  font-family: "Scope One", sans-serif;
}

.btn-desactivado{
  cursor: not-allowed;
  background-color: #aaa;
  color: #000;
  box-shadow: none;

  &:hover{
    color:#000;
    background-color: #aaa;
  }
}
